

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background: #eeee;
}


.navbar{
  background: black;
}

.nav-icons .icon{
  font-size: 32px;
  /* padding: 3px; */
}


.quantity-value{
  background: #eeee;
  padding: 5px 10px;
  margin: 0;
}

.btn-sm{
  cursor: pointer;
  padding: 7px 10px;
}

.icon{
  font-size: 40px;
  cursor: pointer;
}
.value{
  margin: 10px;
}


.footer{
  background: black !important;
  color: white;
}
